---
import BlogLayout from "../layouts/BlogLayout.astro";

const allPosts = await Astro.glob("./posts/*.md");

allPosts.sort((a, b) => {
  if (Date.parse(a.frontmatter.pubDate) < Date.parse(b.frontmatter.pubDate)) return 1
  if (Date.parse(a.frontmatter.pubDate) > Date.parse(b.frontmatter.pubDate)) return -1
  return 0
});
---

<BlogLayout title="Blog | Agustín Jiménez">
  <section>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>
              <div class="post">
                <div class="post-image">
                  <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>
                </div>
                <div class="post-content">
                  <h3>{post.frontmatter.title}</h3>
                  <p>{post.frontmatter.description}</p>
                  <time>{post.frontmatter.pubDate}</time>
                </div>
              </div>
            </a> 
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>

<style>
  section {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
  }

  .post {
    display: flex;
    align-items: center;
    border: 1px solid rgba(38, 38, 38);
    border-radius: 8px;
    overflow: hidden;
    transition: .3s ease;
  }

  .post:hover {
    background-color: #26262666;
  }

  .post-content h3 {
    margin-top: 0;
  }

  p {
    margin-top: 0px;
    color: rgb(156 163 175);
  }

  time {
    font-style: italic;
    color: rgb(163 163 163); 
  }

  .post-content {
    color: white;
    flex: 1;
    padding: 20px;
  }

  .post-image {
    align-self: stretch;
    width: 25%;
    padding-left: 10px;
  }

  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .post-content p {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 770px) {
    .post-image {
      display: none; /* Ocultar la imagen en dispositivos móviles */
    }
  }

</style>
